.switcher {
    display: block;
    margin-right: 5rem;

    input[type='checkbox'] {
        -webkit-appearance: none;
        visibility: hidden;
        display: none;
    }
    input[type='checkbox']:checked ~ &__check {
        background-color:  rgb(31, 31, 10); 
    }
    input[type='checkbox']:checked ~ &__check &__ball {
        transform: translateX(20px);
    }
    &__check {
        position: relative;
        display: block;
        width: 42px;
        height: 20px;
        background-color: #260a8a;
        cursor: pointer;
        border-radius: 20px;
        overflow: hidden;      
        border: 1px solid #fff;
    }

    &__ball {
        width: 14px;
        height: 14px;
        background: #fff;
        display: block;
        position: absolute;
        border-radius: 50%;
        margin: 2px;
        transition: .5s;
    }
    
}
body.dark .heading-h1__main, body.dark .heading-h1__sub{
    color: #c1c348;
}
body.dark .header {
    background-image: linear-gradient( rgba(63,66,26,0.80), 
    rgba(0,0,0,0.9)), url(../images/bg5.jpg);
}