* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-size: 62.5%;  // 1rem = 10px
}
body {
  font-family: 'Poppins';
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #9b9b9b;
}
::-webkit-scrollbar-thumb {
  background: #2ebdcd;
}
::-webkit-scrollbar-thumb:hover {
  background: #27a7b6;
}