* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 62.5%; // 1rem = 10px
}
@media (max-width: 1199.98px) {
  html {
    font-size: 56.25%;
  }
}
body {
  font-family: "Poppins";
}
::-webkit-scrollbar {
  width: 1vw;
}
::-webkit-scrollbar-track {
  background: #9b9b9b;
}
::-webkit-scrollbar-thumb {
  background: #2ebdcd8c;
}
::-webkit-scrollbar-thumb:hover {
  background: #2ebdcd;
}
