@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-15rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(15rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Poppins'; }

.scrollDown {
  position: absolute;
  bottom: 10rem;
  left: 50%; }
  @media (max-width: 575.98px) {
    .scrollDown {
      bottom: 20rem; } }
  .scrollDown__span {
    display: block;
    width: 2rem;
    height: 2rem;
    border-bottom: 2px solid #2ebdcd;
    border-right: 2px solid #2ebdcd;
    animation: scrollDown 2s  infinite;
    margin: -5px; }

@keyframes scrollDown {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-1rem, -1rem); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(1rem, 1rem); } }

.switcher {
  display: block;
  margin-right: 5rem; }
  .switcher input[type='checkbox'] {
    -webkit-appearance: none;
    visibility: hidden;
    display: none; }
  input[type='checkbox']:checked ~ .switcher__check {
    background-color: #f6777e; }
  input[type='checkbox']:checked ~ .switcher__check .switcher__ball {
    transform: translateX(2rem); }
  .switcher__check {
    position: relative;
    display: block;
    width: 4rem;
    height: 2rem;
    background-color: #2ebdcd;
    cursor: pointer;
    border-radius: 2rem;
    overflow: hidden;
    border: 1px solid #fff; }
  .switcher__ball {
    width: 1.4rem;
    height: 1.4rem;
    background: #fff;
    display: block;
    position: absolute;
    border-radius: 50%;
    margin: 2px;
    transition: .5s; }

body.dark .heading-h1__main, body.dark .heading-h1__sub {
  color: #c1c348; }

body.dark .header {
  background-image: linear-gradient(rgba(63, 66, 26, 0.8), rgba(0, 0, 0, 0.9)), url(../images/bg5.jpg); }

body.dark .navigation__icon, body.dark .navigation__icon::before, body.dark .navigation__icon::after {
  background-color: #c1c348; }

body.dark h5.classes__header {
  background-color: rgba(246, 119, 126, 0.9); }

body.dark .m-header__basic::before, body.dark .m-header__basic::after {
  background-color: #f6777e; }

.join__section {
  background: linear-gradient(105deg, #2f2f2f 0%, #2f2f2f 50%, rgba(255, 255, 255, 0) 50%), url(../images/bg5.jpg);
  background-size: 100%;
  background-attachment: fixed; }
  @media (max-width: 1199.98px) {
    .join__section {
      background-image: linear-gradient(rgba(181, 228, 235, 0.801), rgba(0, 0, 0, 0.9)), url(../images/bg5.jpg);
      background-size: cover;
      background-position: center; } }

.join__left--div {
  width: 50%;
  text-align: center;
  color: #fff;
  padding: 10rem; }
  @media (max-width: 1199.98px) {
    .join__left--div {
      width: 100%; } }
  @media (max-width: 899.98px) {
    .join__left--div {
      padding: 10rem 3rem; } }

.join__title--pry {
  text-transform: uppercase;
  display: block;
  font-size: 3rem;
  font-family: 'Merienda'; }

.join__title--sub {
  text-transform: uppercase;
  display: block;
  font-size: 4rem;
  margin-bottom: 2rem;
  font-family: 'Merienda'; }

.join__text {
  font-size: 1.6rem;
  margin-bottom: 6rem; }

.join__price--button {
  display: inline-block;
  padding: 10px 10px;
  font-size: 2rem;
  text-transform: uppercase;
  backdrop-filter: blur(10px);
  font-family: 'Merienda'; }
  .join__price--button::before, .join__price--button::after {
    content: "";
    position: absolute;
    left: -20px;
    top: -20px;
    right: -20px;
    bottom: -20px;
    border: 2px solid #2ebdcd;
    border-radius: 50%;
    animation: pulsing 2s linear infinite; }
  .join__price--button::after {
    animation-delay: 1s; }

@keyframes pulsing {
  0% {
    transform: scale(0.5);
    opacity: 0; }
  50% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(1.2);
    opacity: 0; } }

.classes {
  background-color: #F4F5FA; }
  .classes__block {
    position: relative;
    border-radius: 5px;
    overflow: hidden; }
    @media (max-width: 1199.98px) {
      .classes__block {
        margin-bottom: 2rem; } }
  .classes__block:hover .classes__header {
    height: 100%; }
  .classes__img {
    width: 100%; }
  .classes__header {
    position: absolute;
    bottom: 0;
    height: 9rem;
    background-color: rgba(46, 189, 205, 0.9);
    display: block;
    margin: 0;
    padding: 2rem;
    color: #fff;
    width: 100%;
    transition: .5s; }
  .classes__heading--primary {
    display: block;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2px; }
  .classes__heading--sub {
    display: inline-block;
    padding-bottom: 4rem; }

.header {
  background-image: linear-gradient(rgba(181, 228, 235, 0.801), rgba(0, 0, 0, 0.9)), url(../images/bg5.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding-top: 2rem;
  position: relative;
  font-family: 'Merienda'; }
  .header__container {
    display: flex; }
  .header__logo img {
    height: 8rem; }
    @media (max-width: 767.98px) {
      .header__logo img {
        height: 6rem; } }
  .header__right {
    display: flex;
    margin-left: auto;
    align-items: center; }

.heading-h1 {
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  letter-spacing: 1rem;
  backface-visibility: hidden;
  width: 100%; }
  @media (max-width: 767.98px) {
    .heading-h1 {
      letter-spacing: 3px; } }
  .heading-h1__main {
    display: block;
    font-size: 4rem;
    margin-bottom: 2rem;
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6); }
    @media (max-width: 767.98px) {
      .heading-h1__main {
        font-size: 3rem; } }
  .heading-h1__sub {
    display: block;
    font-size: 3rem;
    animation-name: moveInRight;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6); }
    @media (max-width: 767.98px) {
      .heading-h1__sub {
        font-size: 2rem; } }

.navigation {
  width: 3rem;
  height: 7rem;
  position: relative; }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    width: 3rem;
    height: 6rem;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    z-index: 2000;
    text-align: center;
    cursor: pointer; }
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    background: #000000c4; }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
    padding: 0;
    display: none; }
  .navigation__link {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    font-weight: 500;
    padding: 1rem 2rem;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: .5s; }
    .navigation__link::before {
      display: block;
      content: "";
      position: absolute;
      top: 95%;
      left: 0;
      background-color: #eb0f0f;
      width: 0;
      height: 5px;
      transition: all .5s; }
    .navigation__link::after {
      display: block;
      content: "";
      position: absolute;
      top: 95%;
      right: 0;
      background-color: #4b1a1d;
      width: 0;
      height: 5px;
      transition: all .5s; }
    .navigation__link:hover::before {
      width: 50%;
      transform: translateX(100%); }
    .navigation__link:hover::after {
      width: 50%;
      transform: translateX(-100%); }
    .navigation__link:hover {
      color: #f6777e; }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }
  .navigation__checkbox:checked ~ .navigation__nav .navigation__list {
    display: block; }
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #f50815;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: .2s; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }

section {
  padding: 15rem 0 20rem; }

.m-header {
  text-align: center;
  padding-bottom: 5rem;
  font-family: 'Merienda'; }
  .m-header__basic {
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    font-size: 3rem !important; }
    .m-header__basic::before {
      content: "";
      position: absolute;
      display: block;
      width: 40px;
      height: 3px;
      left: -50px;
      background-color: #2ebdcd;
      top: 50%; }
    .m-header__basic::after {
      content: "";
      position: absolute;
      display: block;
      width: 40px;
      height: 3px;
      right: -50px;
      background-color: #2ebdcd;
      top: 50%; }
