@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-15rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(15rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  font-size: 62.5%; }

body {
  font-family: 'Poppins'; }

::-webkit-scrollbar {
  width: 1vw; }

::-webkit-scrollbar-track {
  background: #9b9b9b; }

::-webkit-scrollbar-thumb {
  background: #2ebdcd8c; }

::-webkit-scrollbar-thumb:hover {
  background: #2ebdcd; }

.book__form {
  padding: 10rem 15rem 15rem; }
  @media (max-width: 1199.98px) {
    .book__form {
      padding: 5rem;
      border-bottom: 2px solid grey; } }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: #fff;
  border: none;
  border-bottom: 3px solid transparent;
  display: block;
  width: 100%;
  color: #333;
  transition: .3s; }
  .form__input:focus {
    outline: none;
    border-bottom: 3px solid green; }
  .form__input:focus:invalid {
    border-color: #17a6b3; }
  .form__input::-webkit-input-placeholder {
    color: #8d8b8b; }

.form__label {
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  color: #fff;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 40%;
  display: inline-block; }

.form__radio-label {
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
  padding-left: 3rem;
  color: #fff; }

.form__radio-button {
  height: 2rem;
  width: 2rem;
  border: 3px solid #2fecff;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0; }
  .form__radio-button::after {
    content: "";
    height: 5px;
    width: 5px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2fecff;
    opacity: 0;
    transition: .3s; }

.form__radio-input {
  display: none; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.btn--n-step {
  border: 1px solid #2fecff;
  margin-top: 2rem;
  padding: 10px 15px;
  color: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;
  transition: .3s;
  width: 15rem; }
  .btn--n-step:hover {
    color: #fff; }

.loader-wrapper {
  --line-width: 5px;
  --curtain-color: #f5f8f8;
  --outer-line-color: #f6777e;
  --middle-line-color: #2ebdcd;
  --inner-line-color: #e6e939;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5000;
  width: 100%;
  height: 100%; }

.loader {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  border: var(--line-width) solid transparent;
  border-top-color: var(--outer-line-color);
  border-radius: 100%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 5000; }

.loader:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border: var(--line-width) solid transparent;
  border-top-color: var(--inner-line-color);
  border-radius: 100%;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite; }

.loader:after {
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;
  right: 14px;
  bottom: 14px;
  border: var(--line-width) solid transparent;
  border-top-color: var(--middle-line-color);
  border-radius: 100%;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

.loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  background: var(--curtain-color);
  width: 51%;
  height: 100%;
  z-index: 1000; }

.loader-wrapper .loader-section.section-left {
  left: 0; }

.loader-wrapper .loader-section.section-right {
  right: 0; }

/* Loaded Styles */
.loaded .loader-wrapper .loader-section.section-left {
  transform: translateX(-100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

.loaded .loader-wrapper .loader-section.section-right {
  transform: translateX(100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

.loaded .loader {
  opacity: 0;
  transition: all 0.3s ease-out; }

.loaded .loader-wrapper {
  visibility: hidden;
  transform: translateY(-100%);
  transition: all .3s 1s ease-out; }

.scrollDown {
  position: absolute;
  bottom: 10rem;
  left: 50%; }
  @media (max-width: 575.98px) {
    .scrollDown {
      bottom: 20rem; } }
  .scrollDown__span {
    display: block;
    width: 2rem;
    height: 2rem;
    border-bottom: 2px solid #2ebdcd;
    border-right: 2px solid #2ebdcd;
    animation: scrollDown 2s  infinite;
    margin: -5px; }

@keyframes scrollDown {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-1rem, -1rem); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(1rem, 1rem); } }

.switcher {
  display: block;
  margin-right: 5rem; }
  .switcher input[type="checkbox"] {
    -webkit-appearance: none;
    visibility: hidden;
    display: none; }
  input[type="checkbox"]:checked ~ .switcher__check {
    background-color: #f6777e; }
  input[type="checkbox"]:checked ~ .switcher__check .switcher__ball {
    transform: translateX(2rem); }
  .switcher__check {
    position: relative;
    display: block;
    width: 4rem;
    height: 2rem;
    background-color: #2ebdcd;
    cursor: pointer;
    border-radius: 2rem;
    overflow: hidden;
    border: 1px solid #fff; }
  .switcher__ball {
    width: 1.4rem;
    height: 1.4rem;
    background: #fff;
    display: block;
    position: absolute;
    border-radius: 50%;
    margin: 2px;
    transition: 0.5s; }

body.dark .heading-h1__main {
  color: #fa5d01; }

body.dark .heading-h1__sub {
  color: #fa5d01; }

body.dark .header {
  background-image: linear-gradient(rgba(63, 66, 26, 0.8), rgba(0, 0, 0, 0.9)), url(../images/main-bg-large.jpg); }

.navigation body.dark__icon, body.dark__icon::before, body.dark__icon::after {
  background-color: #c1c348; }

body.dark h5.classes__header {
  background-color: rgba(246, 119, 126, 0.9); }

body.dark .m-header__basic::before {
  background-color: #f6777e; }

body.dark .m-header__basic::after {
  background-color: #f6777e; }

body.dark .to-top svg {
  fill: #f37b87; }

body.dark .to-top:hover svg {
  fill: #d25663; }

.join__section {
  background: linear-gradient(105deg, #2f2f2f 0%, #2f2f2f 50%, rgba(48, 48, 48, 0.75) 50%), url(../images/main-bg-large.jpg);
  background-size: 100%;
  background-attachment: fixed; }
  @media (max-width: 1199.98px) {
    .join__section {
      background-image: linear-gradient(rgba(181, 228, 235, 0.801), rgba(0, 0, 0, 0.9)), url(../images/main-bg-large.jpg);
      background-size: cover;
      background-position: center; } }

.join__left--div {
  text-align: center;
  color: #fff;
  padding: 10rem; }
  @media (max-width: 1199.98px) {
    .join__left--div {
      width: 100%; } }
  @media (max-width: 899.98px) {
    .join__left--div {
      padding: 10rem 3rem; } }

.join__title--pry {
  text-transform: uppercase;
  display: block;
  font-size: 3rem;
  font-family: 'Merienda'; }

.join__title--sub {
  text-transform: uppercase;
  display: block;
  font-size: 4rem;
  margin-bottom: 2rem;
  font-family: 'Merienda'; }

.join__text {
  font-size: 1.6rem;
  margin-bottom: 6rem; }

.join__price--button {
  position: relative;
  display: inline-block;
  padding: 10px 10px;
  font-size: 2rem;
  text-transform: uppercase;
  backdrop-filter: blur(10px);
  font-family: 'Merienda'; }
  .join__price--button::before, .join__price--button::after {
    content: "";
    position: absolute;
    left: -20px;
    top: -20px;
    right: -20px;
    bottom: -20px;
    border: 2px solid #2ebdcd;
    border-radius: 50%;
    animation: pulsing 2s linear infinite; }
  .join__price--button::after {
    animation-delay: 1s; }

@keyframes pulsing {
  0% {
    transform: scale(0.5);
    opacity: 0; }
  50% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(1.2);
    opacity: 0; } }

.classes {
  background-color: #7e7e8033; }
  .classes__block {
    position: relative;
    border-radius: 5px;
    overflow: hidden; }
    @media (max-width: 1199.98px) {
      .classes__block {
        margin-bottom: 2rem; } }
  .classes__block:hover .classes__header {
    height: 100%; }
  .classes__img {
    object-fit: cover;
    height: 30rem;
    width: 100%; }
  .classes__header {
    position: absolute;
    bottom: 0;
    height: 9rem;
    background-color: rgba(46, 189, 205, 0.9);
    display: block;
    margin: 0;
    padding: 2rem;
    color: #fff;
    width: 100%;
    transition: .5s; }
  .classes__heading--primary {
    display: block;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2px; }
  .classes__heading--sub {
    display: inline-block;
    padding-bottom: 4rem; }

.contact {
  background-color: #7e7e8033; }
  .contact__col {
    position: relative; }
  .contact__col:hover .contact__overlay {
    height: 0; }
  .contact__col:hover .contact__overlay span {
    display: none; }
  .contact__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #303030e8;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s; }
    .contact__overlay span {
      color: #fff;
      font-size: 2rem;
      font-family: 'Merienda'; }
  .contact__email {
    position: absolute;
    right: -100px;
    top: 16rem;
    width: 5rem;
    height: 5rem;
    background: #151515;
    color: #fff;
    text-align: center;
    animation: contact 4s infinite ease-in-out; }
  .contact__wrap {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    background: url(../images/contact-bg.jpg);
    background-size: cover; }
  .contact__phone {
    position: absolute;
    top: 5rem;
    right: -100px;
    width: 5rem;
    height: 5rem;
    background: #151515;
    z-index: -2;
    border-radius: 50%;
    animation: contact 4s infinite ease-in-out; }
  .contact__address {
    position: absolute;
    top: -3rem;
    right: -90px;
    width: 5rem;
    height: 5rem;
    background: #151515;
    z-index: -3;
    border-radius: 50%;
    animation: contact 4s infinite ease-in-out; }
  .contact__wrap {
    position: relative; }

@keyframes contact {
  50% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(0); } }

.header {
  background-image: linear-gradient(rgba(181, 228, 235, 0.801), rgba(0, 0, 0, 0.9)), url(../images/main-bg-large.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding-top: 2rem;
  position: relative;
  font-family: 'Merienda'; }
  @media (max-width: 991.98px) {
    .header {
      background-image: linear-gradient(rgba(181, 228, 235, 0.801), rgba(0, 0, 0, 0.9)), url(../images/main-bg-small.jpg); } }
  .header__container {
    display: flex; }
  .header__logo img {
    height: 8rem; }
    @media (max-width: 767.98px) {
      .header__logo img {
        height: 6rem; } }
  .header__right {
    display: flex;
    margin-left: auto;
    align-items: center; }

.heading-h1 {
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  letter-spacing: 1rem;
  backface-visibility: hidden;
  width: 50%; }
  @media (max-width: 767.98px) {
    .heading-h1 {
      letter-spacing: 3px; } }
  .heading-h1__main {
    display: block;
    font-size: 4rem;
    margin-bottom: 2rem;
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6); }
    @media (max-width: 767.98px) {
      .heading-h1__main {
        font-size: 3rem; } }
  .heading-h1__sub {
    display: block;
    font-size: 3rem;
    animation-name: moveInRight;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6); }
    @media (max-width: 767.98px) {
      .heading-h1__sub {
        font-size: 2rem; } }

.navigation {
  width: 3rem;
  height: 7rem;
  position: relative; }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    width: 3rem;
    height: 6rem;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    z-index: 2000;
    text-align: center;
    cursor: pointer; }
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    background: #000000c4; }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
    padding: 0;
    display: none; }
  .navigation__link {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    font-weight: 500;
    padding: 1rem 2rem;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: .5s; }
    .navigation__link::before {
      display: block;
      content: "";
      position: absolute;
      top: 95%;
      left: 0;
      background-color: #eb0f0f;
      width: 0;
      height: 5px;
      transition: all .5s; }
    .navigation__link::after {
      display: block;
      content: "";
      position: absolute;
      top: 95%;
      right: 0;
      background-color: #4b1a1d;
      width: 0;
      height: 5px;
      transition: all .5s; }
    .navigation__link:hover::before {
      width: 50%;
      transform: translateX(100%); }
    .navigation__link:hover::after {
      width: 50%;
      transform: translateX(-100%); }
    .navigation__link:hover {
      color: #f6777e; }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }
  .navigation__checkbox:checked ~ .navigation__nav .navigation__list {
    display: block; }
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #f50815;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: .2s; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }

section {
  padding: 10rem 0 14rem; }

.m-header {
  text-align: center;
  padding-bottom: 5rem;
  font-family: 'Merienda'; }
  .m-header__basic {
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    font-size: 3rem !important; }
    .m-header__basic::before {
      content: "";
      position: absolute;
      display: block;
      width: 40px;
      height: 3px;
      left: -50px;
      background-color: #2ebdcd;
      top: 50%; }
    .m-header__basic::after {
      content: "";
      position: absolute;
      display: block;
      width: 40px;
      height: 3px;
      right: -50px;
      background-color: #2ebdcd;
      top: 50%; }

.pano-image {
  width: 100%;
  height: 80vh;
  padding-bottom: 10rem; }

.to-top {
  position: fixed;
  right: 4rem;
  bottom: -3rem;
  transition: .5s; }
  .to-top svg {
    width: 30px;
    height: 30px;
    fill: #2ebdcd;
    transition: .5s; }
  .to-top:hover svg {
    fill: #2293a0;
    transform: translateY(-4px); }

.to-top.active {
  bottom: 4rem;
  transition: .5s; }
