.contact {
    background-color: #7e7e8033;
    &__col {
        position: relative;
    }
    &__col:hover &__overlay{
        height: 0;  
    }
    &__col:hover &__overlay span{
       display: none;  
    }
    &__overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #303030e8;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
        span {
            color:#fff;
            font-size: 2rem;
            font-family: 'Merienda';
        }
    }
}